@import url('https://fonts.googleapis.com/css2?family=Georama:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


body {
    margin:0;
}


#menu {
    color: white;
    background-color: black;
    height: 20px;
    padding:5px;
    text-align: center;
}

#header {
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 100px;
    height: 600px;
    background-attachment: fixed;
    background-image: url("background.jpg");
    background-position: center;
    background-size: cover;
}

#left {
    padding: 60px;
    height: min-content;
    margin: 0;
    color: black;
    background-color: white;
    float: left;
    position: relative;
}

#left>h1 {
    font-family: 'Dosis', sans-serif;
    font-size: 40px;
}

#left>h2 {
    font-family: 'Georama', sans-serif;
}

#circle {
    height: 25px;
    width: 25px;
    background-color: pink;
}

#center {
    margin-top: -100px;
    margin-bottom: -100px;
    background-color: pink;
    margin-left: -100px;
    margin-right: -100px;
}

#right {

    margin-top: 300px;
    padding: 20px;
    height: min-content;
    color: white;
    float: right;
    background-color: black;
    position: relative;
    padding: 60px;
}




/*-----------------------------------------------------------------------*/
#container{
    display:flex;   
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    font-family: 'Georama', sans-serif;
    background: radial-gradient(circle, rgba(245,165,242,1) 0%, rgba(255,255,255,1) 100%);
    padding:3%;
}


#content{   
    display:flex;   
    flex-direction: row;
 
    flex-wrap: wrap;

    align-items: center;
  height: min-content;
    width: fit-content;
    height: 100%;
    padding:5%;
}


#leftContainer{
    float: left;
    width: 50%;    
     height: 100%;
}

#rightContainer {
     height: 100%;
    float: right;
    width: 50%;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
img:hover{      /*  CURSOR POR ENCIMA --> SOMBRA    */  }

#container>h3{
    font-size:26px
}

h3{
    text-align: center;
 font-size:23px;
}

li{
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
}




/*-----------------------------------------------------------------------*/
#footer{
    background-color: black;
    color:white;
    height: 100%;
    width: 100%;
}
